<div class="builder">
  <div class="row">
    <div class="column small-12">
      <div class="active-filters">
        <span class="filter">
          Report Builder
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 large-12">
      <div class="report-details-header">
        <h1><strong>Step 3:</strong> Data Parameters</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <h3 class="details-header builder-toggle">
	      <label for="checkbox1" class="builder-section-title">
		      <input id="checkbox1" type="checkbox">
		      Voice
        </label>
        <div class="toggle">
          <span {{bind-attr class="isVoiceExpanded:fa-minus:fa-plus :fa"}} {{action 'toggle' 'isVoiceExpanded'}}></span>
        </div>
      </h3>
      <div {{bind-attr class="isVoiceExpanded:visible:hidden"}}>
        <div class="builder-container">
          <label for="checkbox-domestic-voice-useage" class="builder-section-title">
            <input id="checkbox-domestic-voice-useage" type="checkbox">
            Domestic Voice Usage
          </label>
          <div class="builder-container">

            <input id="checkbox-pooled-useage" type="checkbox"><label for="checkbox-pooled-useage">Pooled Voice Usage</label></input>
            <div class="builder-container report-component">
              <div class="row inline-inputs">
                <div class="large-2 columns ">
                  <span class="select-moz">
                    <select>
                      <option>
                      Allowance
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>
                      Geater Than
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>

                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns inline">
                  Minutes
                </div>
                <div class="large-4 columns inline">
                  <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                </div>
              </div>
              <div class="row inline-inputs">
                <div class="large-2 columns ">
                  <span class="select-moz">
                    <select>
                      <option>
                      Useage
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>
                      Less Than
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>

                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns inline">
                  Minutes
                </div>
                <div class="large-4 columns inline">
                  <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                </div>
              </div>
              <div class="row inline-inputs">
                <div class="large-2 columns ">
                  <span class="select-moz">
                    <select>
                      <option>
                      Charges
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>
                      Geater Than
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>

                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns inline">
                  Minutes
                </div>
                <div class="large-4 columns inline">
                  <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                </div>
              </div>

            </div>

            <input id="checkbox-domestic-voice-useage" type="checkbox"><label for="checkbox-domestic-voice-useage">Airtime Usage</label></input>
            <div class="builder-container report-component">
              <div class="row inline-inputs">
                <div class="large-2 columns ">
                  <span class="select-moz">
                    <select>
                      <option>
                      Allowance
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>
                      Geater Than
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>

                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns inline">
                  Minutes
                </div>
                <div class="large-4 columns inline">
                  <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                </div>
              </div>
              <div class="row inline-inputs">
                <div class="large-2 columns ">
                  <span class="select-moz">
                    <select>
                      <option>
                      Usage
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>
                      Less Than
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>

                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns inline">
                  Minutes
                </div>
                <div class="large-4 columns inline">
                  <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns ">
                  <a href="#" class="add-row"><span class="fa fa-plus"></span> Add Row</a>
                </div>
              </div>
            </div>

            <input id="checkbox-non-pooled-voice-useage" type="checkbox"><label for="checkbox-non-pooled-voice-useage">Non Pooled Usage</label></input><br/>

            <input id="checkbox-night-and-weekend-useage" type="checkbox"><label for="checkbox-night-and-weekend-useage">Nights and Weekend Usage</label></input><br/>

            <input id="checkbox-non-billable-minute-useage" type="checkbox"><label for="checkbox-non-billable-minute-useage">Non-Billable Minute Usage</label></input><br/>

            <input id="checkbox-mobile-to-mobile-useage" type="checkbox"><label for="checkbox-mobile-to-mobile-useage">Mobile to Mobile Usage</label></input><br/>

            <input id="checkbox-uma-useage" type="checkbox"><label for="checkbox-uma-useage">UMA Usage</label></input><br/>

            <input id="checkbox-a-list-useage" type="checkbox"><label for="checkbox-a-list-useage">A-List / FF Usage</label></input><br/>

            <input id="checkbox-directory-assistance" type="checkbox"><label for="checkbox-directory-assistance">Dictory Assistance</label></input><br/>

            <input id="checkbox-call-forwarding" type="checkbox"><label for="checkbox-call-forwarding">Call Forwarding Usage</label></input>

          </div>
        </div>

        <hr/>

        <div class="builder-container">
          <h5>Long Distance Voice Usage</h5>
          <div class="builder-container">

            <input id="checkbox-long-distance-useage" type="checkbox"><label for="checkbox-long-distance-useage">Long Distance Voice Usage</label></input><br/>

            <input id="checkbox-long-distance-domestic-useage" type="checkbox"><label for="checkbox-long-distance-domestic-useage">Long Distance Domestic Voice Usage</label></input><br/>

          </div>
        </div>

        <hr/>

        <div class="builder-container">
          <h5>Roaming Voice Usage</h5>
          <div class="builder-container">

            <input id="checkbox-roaming-international-useage" type="checkbox"><label for="checkbox-roaming-international-useage">Roaming International Voice Usage</label></input><br/>

            <input id="checkbox-roaming-domestic-useage" type="checkbox"><label for="checkbox-roaming-domestic-useage">Roaming Domestic Voice Usage</label></input><br/>

          </div>
        </div>

        <hr/>

        <div class="builder-container">
          <h5>Other Voice Usage</h5>
          <div class="builder-container">

            <input id="checkbox-call-waiting-useage" type="checkbox"><label for="checkbox-call-waiting-useage">Call Waiting Voice Usage</label></input><br/>

            <input id="checkbox-threeway-call-useage" type="checkbox"><label for="checkbox-threeway-call-useage">Three Way Calling Usage</label></input><br/>

          </div>
        </div>

      </div>
       
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <h3 class="details-header">
		<label for="checkbox2" class="builder-section-title">
	      <input id="checkbox2" type="checkbox" checked>
	      Data
	    </label>
      <div class="toggle">
        <span {{bind-attr class="isDataExpanded:fa-minus:fa-plus :fa"}} {{action 'toggle' 'isDataExpanded'}}></span>
      </div>
	  </h3>

    <div {{bind-attr class="isDataExpanded:visible:hidden"}}>
      <div class="builder-container">
        <label for="checkbox-domestic-data-useage" class="builder-section-title">
          <input id="checkbox-call-waiting-useage" type="checkbox">
          Domestic Data Usage
        </label>	
        <div class="builder-container">

          <input id="checkbox-domestic-pooled-data-useage" type="checkbox"><label for="checkbox-domestic-pooled-data-useage">Domestic Pooled Data Usage</label></input><br/>

          <input id="checkbox-domestic-non-pooled-data-useage" type="checkbox"><label for="checkbox-domestic-non-pooled-data-useage">Domestic Non-Pooled Data Usage</label></input><br/>

          <div class="builder-container">
            <input id="checkbox-domestic-non-pooled-tethering-useage" type="checkbox"><label for="checkbox-domestic-non-pooled-tethering-useage">Domestic Non-Pooled Tethering Data Usage</label></input><br/>
            <div class="builder-container">
              <div class="row inline-inputs">
                <div class="large-2 columns ">
                  <span class="select-moz">
                    <select>
                      <option>
                      Charges
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>
                      Less Than
                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns">
                  <span class="select-moz">
                    <select>
                      <option>

                      </option>
                    </select>
                  </span>
                </div>
                <div class="large-2 columns inline">
                  Dollars
                </div>
                <div class="large-4 columns inline">
                  <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                </div>
              </div>
              <div class="row">
                <div class="large-12 columns ">
                  <a href="#" class="add-row"><span class="fa fa-plus"></span> Add Row</a>
                </div>
              </div>
            </div>
          </div>

          <input id="checkbox-roaming-data-useage" type="checkbox"><label for="checkbox-roaming-data-useage">Roaming Data Usage</label></input><br/>

        </div>
      </div>
    </div>
    </div>
  </div>



  <div class="row">
    <div class="column small-12">
      <h3 class="details-header">
	    <label for="checkbox3" class="builder-section-title">
	      	<input id="checkbox3" type="checkbox" checked>
	      		Messaging
      	</label>
        <div class="toggle">
          <span {{bind-attr class="isMessagingExpanded:fa-minus:fa-plus :fa"}} {{action 'toggle' 'isMessagingExpanded'}}></span>
        </div>
      </h3>

      <div {{bind-attr class="isMessagingExpanded:visible:hidden"}}>
        <div class="builder-container">
          <label for="checkbox-domestic-messaging-usage" class="builder-section-title">
            <input id="checkbox-domestic-messaging-usage" type="checkbox">Voice Domestic Messaging Usage
          </label>

          <div class="builder-container">

            <input id="checkbox-domestic-mms-usage" type="checkbox"><label for="checkbox-domestic-mms-usage">Domestic MMS Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-domestic-mms-usage" type="checkbox"><label for="checkbox-outbound-domestic-mms-usage">Outbound Domestic MMS Usage</label></input><br/>

              <input id="checkbox-inbound-domestic-mms-usage" type="checkbox"><label for="checkbox-inbound-domestic-mms-usage">Inbound Domestic MMS Usage</label></input>

            </div>


            <input id="checkbox-domestic-m2m-message-usage" type="checkbox"><label for="checkbox-domestic-m2m-message-usage">Domestic M2M Message Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-domestic-m2m-message-usage" type="checkbox"><label for="checkbox-outbound-domestic-m2m-message-usage">Outbound Domestic M2M Message Usage</label></input><br/>

              <input id="checkbox-inbound-domestic-m2m-message-usage" type="checkbox"><label for="checkbox-inbound-domestic-m2m-message-usage">Inbound Domestic M2M Message Usage</label></input>

            </div>



            <input id="checkbox-domestic-sms-usage" type="checkbox"><label for="checkbox-domestic-sms-usage">Domestic SMS Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-domestic-sms-usage" type="checkbox"><label for="checkbox-outbound-domestic-sms-usage">Outbound Domestic SMS Usage</label></input><br/>

              <input id="checkbox-inbound-domestic-sms-usage" type="checkbox"><label for="checkbox-inbound-domestic-sms-usage">Inbound Domestic SMS Usage</label></input>

            </div>

          </div>

        </div>

        <hr/>

        <div class="builder-container">
          <label for="checkbox-roaming-messaging-usage" class="builder-section-title">
            <input id="checkbox-roaming-messaging-usage" type="checkbox">
            Roaming Messaging Usage
          </label>

          <div class="builder-container">

            <input id="checkbox-roaming-mms-usage" type="checkbox"><label for="checkbox-roaming-mms-usage">Roaming MMS Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-roaming-mms-usage" type="checkbox"><label for="checkbox-outbound-roaming-mms-usage">Outbound Roaming MMS Usage</label></input><br/>

              <input id="checkbox-inbound-roaming-mms-usage" type="checkbox"><label for="checkbox-inbound-roaming-mms-usage">Inbound Roaming MMS Usage</label></input>

            </div>


            <input id="checkbox-roaming-m2m-message-usage" type="checkbox"><label for="checkbox-roaming-m2m-message-usage">Roaming M2M Message Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-roaming-m2m-message-usage" type="checkbox"><label for="checkbox-outbound-roaming-m2m-message-usage">Outbound Roaming M2M Message Usage</label></input><br/>

              <input id="checkbox-inbound-roaming-m2m-message-usage" type="checkbox"><label for="checkbox-inbound-roaming-m2m-message-usage">Inbound Roaming M2M Message Usage</label></input>

            </div>



            <input id="checkbox-roaming-sms-usage" type="checkbox"><label for="checkbox-roaming-sms-usage">Roaming SMS Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-roaming-sms-usage" type="checkbox"><label for="checkbox-outbound-roaming-sms-usage">Outbound Roaming SMS Usage</label></input><br/>

              <input id="checkbox-inbound-roaming-sms-usage" type="checkbox"><label for="checkbox-inbound-roaming-sms-usage">Inbound Roaming SMS Usage</label></input>

            </div>

          </div>

        </div>

        <hr/>

        <div class="builder-container">
          <label for="checkbox-long-distance-messaging-usage" class="builder-section-title">
            <input id="checkbox-long-distance-messaging-usage" type="checkbox">
            Long Distance Messaging Usage
          </label>

          <div class="builder-container">

            <input id="checkbox-long-distance-mms-usage" type="checkbox"><label for="checkbox-long-distance-mms-usage">Long Distance MMS Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-long-distance-mms-usage" type="checkbox"><label for="checkbox-outbound-long-distance-mms-usage">Outbound Long Distance MMS Usage</label></input>

            </div>


            <input id="checkbox-long-distance-m2m-message-usage" type="checkbox"><label for="checkbox-long-distance-m2m-message-usage">Long Distance M2M Message Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-long-distance-m2m-message-usage" type="checkbox"><label for="checkbox-outbound-long-distance-m2m-message-usage">Outbound Long Distance M2M Message Usage</label></input>

            </div>



            <input id="checkbox-long-distance-sms-usage" type="checkbox"><label for="checkbox-long-distance-sms-usage">Long Distance SMS Usage</label></input>

            <div class="builder-container">

              <input id="checkbox-outbound-long-distance-sms-usage" type="checkbox"><label for="checkbox-outbound-long-distance-sms-usage">Outbound Long Distance SMS Usage</label></input>

            </div>

          </div>

        </div>

        <hr/>

        <div class="row">
          <div class="column small-12 gray-bg">
            <div class="builder-container">
              <label for="checkbox-ppt-usage" class="builder-section-title">
                <input id="checkbox-ppt-usage" type="checkbox">
                PPT Usage
              </label>
              <div class="builder-container">
                <div class="row inline-inputs">
                  <div class="large-2 columns ">
                    <span class="select-moz">
                      <select>
                        <option>
                        Allowance
                        </option>
                      </select>
                    </span>
                  </div>
                  <div class="large-2 columns">
                    <span class="select-moz">
                      <select>
                        <option>
                        Geater Than
                        </option>
                      </select>
                    </span>
                  </div>
                  <div class="large-2 columns">
                    <span class="select-moz">
                      <select>
                        <option>

                        </option>
                      </select>
                    </span>
                  </div>
                  <div class="large-4 columns inline">
                    <a href="#" class="button small close"><span class="fa fa-times"></span></a>
                  </div>
                </div>
                <a href="#" class="add-row"><span class="fa fa-plus"></span> Add Row</a>

              </div>
            </div>
          </div>
        </div>


        <div class="builder-container">
          <label for="checkbox-other-usage" class="builder-section-title">
            <input id="checkbox-other-usage" type="checkbox">
            Other Usage
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <h3 class="details-header">
	      <label for="checkbox4" class="builder-section-title">
	      	<input id="checkbox4" type="checkbox" checked>
	      	Rate Plans
	      </label>
        <div class="toggle">
          <span {{bind-attr class="isRatePlansExpanded:fa-minus:fa-plus :fa"}} {{action 'toggle' 'isRatePlansExpanded'}}></span>
        </div>
      </h3>

    </div>
  </div>



  <div class="row">
    <div class="column small-12">
      <h3 class="details-header">
		<label for="checkbox5" class="builder-section-title">
	      	<input id="checkbox5" type="checkbox" checked>
	      	Features and Delimiters
      	</label>
        <div class="toggle">
          <span {{bind-attr class="isFeaturesExpanded:fa-minus:fa-plus :fa"}} {{action 'toggle' 'isFeaturesExpanded'}}></span>
        </div>
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="column small-12">
      <h3 class="details-header">
	      <label for="checkbox6" class="builder-section-title">
		      <input id="checkbox6" type="checkbox" checked>
		      Other
	      </label>
        <div class="toggle">
          <span {{bind-attr class="isOtherExpanded:fa-minus:fa-plus :fa"}} {{action 'toggle' 'isOtherExpanded'}}></span>
        </div>
      </h3>
    </div>
  </div>

  <div class="row action-row">
    <div class="column small-12 large-6">
      {{#link-to "builder" class='button small middles round'}}
        Save
      {{/link-to}}
    </div>
  </div>
</div>
