<div class="builder">
	<div class="row">
		<div class="column small-12">
			<div class="active-filters">
				<span class="filter">
					Report Builder
				</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 large-12">
			<div class="report-details-header">
				<h1><strong>Step 1:</strong> Report Details</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column small-12 large-6">

      <h5>Report Type</h5>
      {{radio-button name="report-type" value='manual' id='manual' selection=reportType}}
			<label for="manual">Manual</label>
      {{radio-button name="report-type" value='scheduled' id='scheduled' selection=reportType}}
			<label for="scheduled">Scheduled</label>

      <div {{bind-attr class="isManual:hidden:visible"}}>
        <h5>Process Schedule</h5>
        <input type="radio" name="schedule" value="monthly" id="monthly"><label for="monthly">Monthly</label>
        <input type="radio" name="schedule" value="quarterly" id="quarterly"><label for="quarterly">Quarterly</label>
        <input type="radio" name="schedule" value="yearly" id="yearly"><label for="yearly">Yearly</label>
      </div>

      <div {{bind-attr class="isManual:hidden:visible"}}>
        <h5>Duration</h5>
        <div class="row datepick">
          <div class="column small-12 large-4">
            <label>Start Date
              <input type="text" id="start" placeholder="Start Date">
            </label>

          </div>
          <div class="column small-12 large-4">
            <label>End Date
              <input type="text" id="end" placeholder="End Date">
            </label>
          </div>
        </div>
      </div>
		</div>
		<div {{bind-attr class="isManual:hidden:visible :column :small-12 :large-6"}}>
			<p>
				<strong>Carrier Billing Cycles</strong>
			</p>
			<p>
				Scheduled reports will be sent out at 1AM on the following dates using the most recent data available at that time
			</p>
			<p>
				<strong>AT&T</strong> 09/20/2014<br/>
				<strong>Sprint</strong> 09/20/2014<br/>
				<strong>T-Mobile</strong> 09/20/2014<br/>
				<strong>Verizon</strong> 09/20/2014
			</p>
		</div>
	</div>
	
	<hr/>

	<div class="row">
		<div class="column small-12 large-6">
			<h5>Format</h5>
      <span {{bind-attr class="isManual:visible-inline:hidden"}}>
			<input type="radio" name="format" value="browser" id="browser"><label for="browser">Desktop</label>
      </span>
			<input type="radio" name="format" value="xls" id="xls"><label for="xls">XLS</label>
			<input type="radio" name="format" value="csv" id="csv"><label for="csv">CSV</label>
		</div>
	</div>

	<hr/>

  <div {{bind-attr class="isManual:hidden:visible :row"}}>
		<div class="column small-12 large-6">
			<h5>Send Report To</h5>
			<div class="row ">
				<div class="column small-12 large-8">
					<label>Your email
					<input class="" type="email" placeholder="email@email.com">
					</label>
				</div>
			</div>
			<div class="row ">
				<div class="column small-12 large-8">
					<label>Other recipients
					<textarea class="" placeholder="Enter additional email addresses here..."></textarea>
				</div>
			</div>
		</div>
		<div class="column small-12 large-6">

		</div>
    <hr/>
	</div>


	<div class="row">
		<div class="column small-12 large-6">
			<h5>Report Details</h5>
			<div class="row ">
				<div class="column small-12 large-8">
					<label>Report Name
					<input class="" type="text" placeholder="Enter report name here...">
					</label>
				</div>
			</div>
			<div class="row ">
				<div class="column small-12 large-8">
					<label>Description
					<textarea class="" placeholder="Enter description here..."></textarea>
				</div>
			</div>
		</div>
		<div class="column small-12 large-6">

		</div>
	</div>

	<div class="row action-row">
		<div class="column small-12 large-6">
			{{#link-to "buildercreate2" class='button small middles round'}}
		  		Next
		  	{{/link-to}}
		</div>
	</div>
</div>


