<div class="row">
  <div class="column small-12">
    <div class="report-details-header">
      <div class="active-filters">
        <span class="filter">
          
        </span>

        <div class="button-dropdown-container filter">
          <a href="#" class="dropdown-button " data-dropdown="dateDrop" aria-controls="dateDrop" aria-expanded="true" ><strong>Bill Month</strong>: August 2014 <span class="fa fa-angle-down"></span></a><br/>
          <div id="dateDrop" data-dropdown-content class="f-dropdown right" role="menu" aria-hidden="false">
              <div class="options">
                <ul>
                  <li><span class="fa"></span> January 2014</li>
                  <li><span class="fa"></span> February 2014</li>
                  <li><span class="fa"></span> March 2014</li>
                  <li><span class="fa"></span> April 2014</li>
                  <li><span class="fa"></span> May 2014</li>
                  <li><span class="fa"></span> June 2014</li>
                  <li><span class="fa"></span> July 2014</li>
                  <li><span class="fa fa-check"></span> August 2014</li>
                  <li><span class="fa"></span> September 2014</li>
                  <li><span class="fa"></span> October 2014</li>
                  <li><span class="fa"></span> November 2014</li>
                  <li><span class="fa"></span> December 2014</li>
                </ul>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column small-12 medium-8 large-8report-details-header">

      <h1>Sam Rothstein</h1>

  </div>
  <div class="column small-12 medium-4 large-4 text-right user-ctas">
    <a {{action 'toggleSupport'}} class="button small middle grey round">Support</a>
  </div>
</div>

<div {{bind-attr class="showSupport:visible:hidden :row"}}>
  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Contact Support</h3>
    <table class="details-table content-table">
      <tbody>
        <tr>
          <td>
            Below are three easy ways to get support for your mobile device.
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-envelope"></span>
              <a href="#">support@company.com</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-comment"></span>
              <a href="#">Submit a Support Request</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-phone"></span>
              <a href="#">(800) 555-1212</a>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Support Resources</h3>
    <table class="details-table content-table">
      <tbody>
        <tr>
          <td>
            Commonly used resources to gather information or request a change for your mobile device.
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-shopping-cart"></span> 
              <a href="#">Wireless Request Form</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-users"></span> 
              <a href="#">Wireless Telecom Administrators</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-file-o"></span> 
              <a href="#">International Roaming Rate Sheet</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-file-o"></span> 
              <a href="#">Wireless Service Policy</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="column small-12">
    <h3 class="details-header">Wireless Line Overview</h3>
    <table class="details-overview-table table-striped">
      <thead class="alt small">
        <tr>
          <th rowspan="2">
            Mobile #
          </th>
          <th>
            Monthly Charge
            <div class="cost striped-bg">
              $222.02
            </div>
          </th>
          <th rowspan="2">
            Carrier
          </th>
          <th rowspan="2">
            Device
          </th>
          <th rowspan="2">
            Status
          </th>
          <th rowspan="2">
            Actions for this line
          </th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td data-title="Mobile #.">
            <a {{action 'reportDetail' '2345575456'}}>(555) 123-4567</a>
          </td>
          <td class="cost" data-title="Monthly Charge">
            $92.02
          </td>
          <td data-title="Carrier">
            Verizon
          </td>
          <td data-title="Device">
            iPhone 5
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select class="">
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(618) 123-232</a>
          </td>
          <td class="cost" data-title="Monthly Charge">
            $79.98
          </td>
          <td data-title="Carrier">
            ATT
          </td>
          <td data-title="Device">
            Blackberry Q10
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(887) 234-4340</a>
          </td>
          <td class="cost" data-title="Monthly Charge">
            $50.02
          </td>
          <td data-title="Carrier">
            T-Mobile
          </td>
          <td data-title="Device">
            Nexus 5
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse select-box">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Spend by Category - Custom</h3>
    <img src="/assets/images/spend-by-category.png">
  </div>

  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Trend by Category - Custom</h3>
    <img src="/assets/images/trend-by-category.png">
  </div>
</div>

<div class="row">
  <div class="column small-12">
    <p class="copyright">
      &copy;2014 by Wireless Analytics LLC All Rights Reserved. 
    </p>
  </div>
</div>

<div class="row">
  <div class="column small-12">
    <p class="text-center">
      <a href="/#/">ME</a> | <a href="/#/landing2">Supervisor</a> | <a href="/#/landing3">System</a>
    </p>
  </div>
</div>

