<div class="row">
  <div class="column small-12">
    <div class="report-details-header">
      <div class="active-filters">
        <a href="#" {{action 'toggleSidebar' target="controllers.application"}}
          {{bind-attr class="controllers.application.isSidebarVisible:hidden:visible-inline :showControls"}}>
          <span class="fa fa-arrow-right"></span>
          Show Filters
        </a>
        <span class="filter">
          <strong>Bill Month</strong>: August 2014<span class="fa fa-close"></span>
        </span>
        <span class="filter">
          <strong>Carrier</strong>: Verizon<span class="fa fa-close"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="column small-12 medium-8 large-8">
    <div class="report-details-header">
      <h1>Sam Rothstein</h1>
    </div>
  </div>
  <div class="column small-12 medium-4 large-4 text-right">
    <a {{action 'toggleSupport'}} class="button small middle grey round">Support</a>
  </div>
</div>

<div {{bind-attr class="showSupport:visible:hidden :row"}}>
  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Contact Support</h3>
    <table class="details-table content-table">
      <tbody>
        <tr>
          <td>
            Below are three easy ways to get support for your mobile device.
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-envelope"></span>
              <a href="#">support@company.com</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-comment"></span>
              <a href="#">Submit a Support Request</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-phone"></span>
              <a href="#">(800) 555-1212</a>
            </div>
          </td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Support Resources</h3>
    <table class="details-table content-table">
      <tbody>
        <tr>
          <td>
            Commonly used resources to gather information or request a change for your mobile device.
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-shopping-cart"></span> 
              <a href="#">Wireless Request Form</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-users"></span> 
              <a href="#">Wireless Telecom Administrators</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-file-o"></span> 
              <a href="#">International Roaming Rate Sheet</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="icon-callout">
              <span class="fa fa-file-o"></span> 
              <a href="#">Wireless Service Policy</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="column small-12">
  <h3 class="details-header">Wireless Line Overview</h3>

    <table class="details-overview-table table-striped">
      <thead class="alt small">
        <tr>
          <th>
            Username
          </th>
          <th>
            Mobile #
          </th>
          <th>
            Monthly Charge
            <div class="striped-bg">
              $442.64.00
            </div>
          </th>
          <th>
            Carrier
          </th>
          <th>
            Device
          </th>
          <th>
            Status
          </th>
          <th>
            Actions for this line
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Username">Addie Ramsey</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(555) 123-4567</a>
          </td>
          <td data-title="Monthly Charge">
            $92.02
          </td>
          <td data-title="Carrier">
            Verizon
          </td>
          <td data-title="Device">
            iPhone 5
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Username">Adele Jones</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(726) 232-3454</a>
          </td>
          <td data-title="Monthly Charge">
            $40.34
          </td>
          <td data-title="Carrier">
            ATT
          </td>
          <td data-title="Device">
            iPhone 6
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Username">Annie Gardner</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(552) 234-4344</a>
          </td>
          <td data-title="Monthly Charge">
            $50.98
          </td>
          <td data-title="Carrier">
            Verizon
          </td>
          <td data-title="Device">
            Blackberry Z10
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Username">Arthur Singleton</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(781) 345-2345</a>
          </td>
          <td data-title="Monthly Charge">
            $45.00
          </td>
          <td data-title="Carrier">
            Rogers
          </td>
          <td data-title="Device">
            Blackberry Q10
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Username">Bess Price</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(335) 334-3433</a>
          </td>
          <td data-title="Monthly Charge">
            $65.00
          </td>
          <td data-title="Carrier">
            ATT
          </td>
          <td data-title="Device">
            Blackberry Passport
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td data-title="Username">Callie Mathis</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(245) 234-5478</a>
          </td>
          <td data-title="Monthly Charge">
            $67.00
          </td>
          <td data-title="Carrier">
            Verizon
          </td>
          <td data-title="Device">
            Note II
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
        <tr>

          <td data-title="Username">Clyde Gonzalez</td>
          <td data-title="Mobile #">
            <a {{action 'reportDetail' '2345575456'}}>(345) 245-2345</a>
          </td>
          <td data-title="Monthly Charge">
            $82.30
          </td>
          <td data-title="Carrier">
            T-Mobile
          </td>
          <td data-title="Device">
            Nexus 5
          </td>
          <td data-title="Status">
            Active
          </td>
          <td data-title="Actions for this line">
            <div class="row collapse">
              <div class="small-10 columns">
                <span class="select-moz prefixed">
                  <select>
                    <option>Select</option>
                    <option>Suspend Line</option>
                    <option>Cancel Line</option>
                    <option>Upgrade Phone</option>
                    <option>Request Support</option>
                  </select>
                </span>
              </div>
              <div class="small-2 columns">
                <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="row">
  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Spend by Category - Custom</h3>
    <img src="/assets/images/spend-by-category.png">
  </div>

  <div class="column small-12 medium-6 large-6">
    <h3 class="details-header">Trend by Category - Custom</h3>
    <img src="/assets/images/trend-by-category.png">
  </div>
</div>

    <div class="row">
      <div class="column small-12">
        <p class="copyright">
          &copy;2014 by Wireless Analytics LLC All Rights Reserved. 
        </p>
      </div>
    </div>
