<div class="sidebar-mask" {{action 'dismissReport'}}></div>

<div class="report-slider">

    <div class="row">
      <div class="column small-12">
        <div class="report-details-header">
          <div class="active-filters">
            <span class="filter">
              <strong>Bill Month</strong>: August 2014<span class="fa fa-close"></span>
            </span>
            <span class="filter">
              <strong>Carrier</strong>: Verizon<span class="fa fa-close"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column small-12 large-8">
        <div class="report-details-header">
          <h1>{{employee.firstName}} {{employee.lastName}}<span>{{phone}}</span></h1>
        </div>
      </div>
      <div class="column small-12 large-4 text-right">
        <a {{action 'dismissReport'}} class="button small middle grey round">Back</a>
        <a href="#" class="button small middle grey round"><span class="fa fa-file-o"></span> Export Report</a>
      </div>
    </div>

    <div class="row">
      <div class="column small-12 medium-12 large-8">

        <h3 class="details-header">User Details</h3>

        <table class="details-table table-striped">
          <tbody>
            <tr>
              <td class="row-header" width="40%">Employee Email</td>
              <td>{{employee.email}}</td>
            </tr>
            <tr>
              <td class="row-header">Employee ID</td>
              <td>{{employee.id}}</td>
            </tr>
            <tr>
              <td class="row-header">Supervisor Email</td>
              <td>{{employee.supervisorEmail}}</td>
            </tr>
            <tr>
              <td class="row-header">Divison</td>
              <td>{{employee.division}}</td>
            </tr>
            <tr>
              <td class="row-header">Department</td>
              <td>{{employee.department}}</td>
            </tr>
            <tr>
              <td class="row-header">Office</td>
              <td>{{employee.office}}</td>
            </tr>
            <tr>
              <td class="row-header">Group</td>
              <td>{{employee.group}}</td>
            </tr>
            <tr {{bind-attr class='showAllEmployeeDetails:visible-cell:hidden'}}>
              <td class="row-header">UDL Example One</td>
              <td>Lorem ipsum...</td>
            </tr>
            <tr {{bind-attr class='showAllEmployeeDetails:visible-cell:hidden'}}>
              <td class="row-header">UDL Example Two</td>
              <td>Lorem ipsum...</td>
            </tr>
            <tr>
              <td class="more">
                <a href="#" {{action toggleEmployeeDetails}} {{bind-attr class='showAllEmployeeDetails:hidden:visible-inline'}}><span class="fa fa-plus"></span> View All</a>
                <a href="#" {{action toggleEmployeeDetails}} {{bind-attr class='showAllEmployeeDetails:visible-inline:hidden'}}><span class="fa fa-minus"></span> View Less</a>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column small-12 medium-12 large-4">

        <h3 class="details-header">Carrier: <span>{{carrier.name}}</span>
        <ul class="carousel-controller">
          <li class="active">
            <a href="#1"></a>
          </li>
          <li>
            <a href="#2"></a>
          </li>
          <li>
            <a href="#3"></a>
          </li>
        </ul>
        </h3>
        
        <ul class="carousel">
          <li class="active" id="1">
            <div class="row">
              <div class="column small-4">
                <img src="/assets/images/iphone.png">
              </div>
              <div class="column small-8">
              <strong>Current Device:</strong> Samsung Galaxy s5<br>
                <strong>Line Type:</strong> Smartphone<br>
                <strong>Status:</strong> Active<br>
                <strong>Last Upgraded:</strong> October 4, 2012<br>
                <strong>IMEI/ESN:</strong> 56163123617986534551<br>
                <strong>Sim:</strong> 12234523123412524
              </div>
            </div>
          </li>
          <li id="2">
            <div class="row">
              <div class="column small-4">
                <img src="/assets/images/iphone.png">
              </div>
              <div class="column small-8">
              <strong>Current Device:</strong> iPhone 5<br>
                <strong>Line Type:</strong> Smartphone<br>
                <strong>Status:</strong> Active<br>
                <strong>Last Upgraded:</strong> October 4, 2012<br>
                <strong>IMEI/ESN:</strong> 56163123617986534551<br>
                <strong>Sim:</strong> 12234523123412524
              </div>
            </div>
          </li>
          <li id="3">
            <div class="row">
              <div class="column small-4">
                <img src="/assets/images/iphone.png">
              </div>
              <div class="column small-8">
              <strong>Current Device:</strong> iPhone 6<br>
                <strong>Line Type:</strong> Smartphone<br>
                <strong>Status:</strong> Active<br>
                <strong>Last Upgraded:</strong> October 4, 2012<br>
                <strong>IMEI/ESN:</strong> 56163123617986534551<br>
                <strong>Sim:</strong> 12234523123412524
              </div>
            </div>
          </li>
        </ul>

        <h3 class="details-header">Support: <span>Manage Line</span></h3>

        <table class="details-table table-striped">
          <tbody>
            <tr>
              <td>
                <p>Actions for this line</p>

                <div class="row collapse">
                  <div class="small-10 columns">
                    <span class="select-moz">
                      <select>
                        <option>Select</option>
                        <option>Suspend Line</option>
                        <option>Cancel Line</option>
                        <option>Upgrade Phone</option>
                        <option>Request Support</option>
                      </select>
                    </span>
                  </div>
                  <div class="small-2 columns">
                    <a href="#" class="button postfix"><span class="fa fa-arrow-right"></span></a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="column small-12">
        <div class="summary-row">
          Total Monthly Charge
          <span class="value">{{Total}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column small-12">

        <h3 class="details-header">Monthly Recurring Charges: <span>1/1/2014 - 1/31/14</span></h3>

        <table class="details-table table-striped">
          <tbody>
              <tr>
                <td class="row-header">
                  Voice
                </td>
                <td>
                  {{asset.billing.voice.name}}
                </td>
                <td class="text-right">
                  {{money asset.billing.voice.charges.total}}
                </td>
              </tr>
              <tr>
                <td class="row-header">
                  Data
                </td>
                <td>
                  {{asset.billing.data.name}}
                </td>
                <td class="text-right">
                  {{money asset.billing.data.charges.total}}
                </td>
              </tr>
              <tr>
                <td class="row-header">
                  Text Messaging
                </td>
                <td>
                  {{asset.billing.messaging.name}}
                </td>
                <td class="text-right">
                  {{money asset.billing.messaging.charges.total}}
                </td>
              </tr>
              <tr>
                <td class="row-header">
                  Roaming International Voice
                </td>
                <td>
                  $5.99 BUSGLOBALTRVLR
                </td>
                <td class="text-right">
                  $33.44
                </td>
              </tr>
              <tr>
                <td class="row-header">
                  Long Distance Voice
                </td>
                <td>
                  World Connect
                </td>
                <td class="text-right">
                  $33.44
                </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="column small-12">
        <div class="summary-row">
          Subtotal (Prorated Services)
          <span class="value">{{Total}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column small-12">

        <h3 class="details-header">Usage: <span>1/1/2014 - 1/31/14</span></h3>

        <table class="details-table charges-table table-striped">
          <thead class="alt">
            <tr>
              <th colspan="2">
                <strong>Domestic</strong>
              </th>
              <th class="text-right">
                Additional Charges
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="row-header" colspan="2" width="">
                <span class="fa fa-caret-right"></span> Anytime Minutes
              </td>
              <td class="text-right">
                <a {{action "reportSummary" id}}>{{money asset.billing.voice.charges.total}}</a>
              </td>
            </tr>
            <tr>
              <td class="row-header" colspan="2" width="">
                <span class="fa fa-caret-right"></span> Long Distance Voice
              </td>
              <td class="text-right">
                <a {{action "reportSummary"}}>{{money asset.billing.voice.long_distance.charges.total}}</a>
              </td>
            </tr>
            <tr>
              <td class="row-header" colspan="2" width="">
                <span class="fa fa-caret-right"></span> Data
              </td>
              <td class="text-right">
                <a {{action "reportSummary"}}>{{money asset.billing.data.charges.total}}</a>
              </td>
            </tr>
            <tr>
              <td class="row-header" colspan="2" width="">
                <a href="#"><span class="fa fa-caret-right"></span> Messaging</a>
              </td>
              <td class="text-right">
                <a href="">{{Messaging}}</a>
              </td>
            </tr>
            <tr class="row-details">
              <td width="25%">
                Incoming SMS
              </td>
              <td>
                <div class="progress">
                  <span class="meter" style="width: 100%"></span>
                </div>
                <div class="progress-text"><strong>112</strong> of 100</div>
              </td>
              <td width="25%" class="text-right">
                <a {{action "reportSummary"}}>$0.90</a>
              </td>
            </tr>
            <tr class="row-details">
              <td width="25%">
                Outgoing SMS
              </td>
              <td>
                <div class="progress">
                  <span class="meter" style="width: 100%"></span>
                </div>
                <div class="progress-text"><strong>24</strong> of 20</div>
              </td>
              <td class="text-right">
                <a {{action "reportSummary"}}>$0.90</a>
              </td>
            </tr>
            <tr class="row-details">
              <td width="25%">
                Incoming M2M
              </td>
              <td>
                <div class="progress">
                  <span class="meter" style="width: 75%"></span>
                </div>
                <div class="progress-text"><strong>16</strong> of 20</div>
              </td>
              <td class="text-right">
                
                <a {{action "reportSummary"}}>$0.90</a>
              </td>
            </tr>
            <tr class="row-details">
              <td width="25%">
                Outgoing M2M
              </td>
              <td>
                <div class="progress">
                  <span class="meter" style="width: 10%"></span>
                </div>
                <div class="progress-text"><strong>2</strong> of 20</div>
              </td>
              <td class="text-right">
                
                <a {{action "reportSummary"}}>$0.90</a>
              </td>
            </tr>
            <tr class="row-details">
              <td width="25%">
                Incoming MMS
              </td>
              <td>
                <div class="progress">
                  <span class="meter" style="width: 0"></span>
                </div>
                <div class="progress-text"><strong>0</strong> of 20</div>
              </td>
              <td class="text-right">
                
                <a {{action "reportSummary"}}>$0.00</a>
              </td>
            </tr>
            <tr>
              <td class="row-header" colspan="2" width="">
                <span class="fa fa-caret-right"></span> Long Distance Messaging
              </td>
              <td class="text-right">
                <a {{action "reportSummary"}}>{{Data}}</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="column small-12 medium-12">

        <hr>

        <table class="details-table table-striped">
          <thead class="alt">
            <tr>
              <th colspan="3">
                International 
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="row-header" colspan="2" width="">
                <span class="fa fa-caret-right"></span> Anytime Minutes
              </td>
              <td class="text-right">
                <a href="">$39.95</a>
              </td>
            </tr>
            <tr>
              <td class="row-header" colspan="2" width="">
                <span class="fa fa-caret-right"></span> Long Distance Voice
              </td>
              <td class="text-right">
                <a href="">$53.85</a>
              </td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="column small-12">
        <div class="summary-row">
          Subtotal
          <span class="value">{{Total}}</span>
        </div>
      </div>
    </div>

  </div>

